@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: url(/Images/shark_with_laser_by_carrool-d68jf0w.ico) no-repeat center center">
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style="color:#107896">Lazer Shark</h1>
</div>

<div class="row">
        <div class="col-md-4">
            <h2>What is Lazer Shark?</h2>
            <p>
                Lazer Shark is America’s destination for affordable and convenient new-release movie and video game rentals. 
                About a million discs (and sometimes a whole lot more) are rented from our kiosks every single day.
            </p>
        </div>
    

    <div class="col-md-4">
        <h2>Where to Start</h2>
        <p>
        Rent movies or games online with Lazer Shark, where you can reserve and preview new DVDs, Blu-Rays and games. Online rentals are 
        easy just click movies or games to get started.</p>
        <p><a class="btn btn-default" href="~/movies"> Movies &raquo; </a><a class="btn btn-default" href="~/games" style="margin-left:2em"> Games &raquo; </a></p>
    </div>
    @*
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    *@
</div>